.b-container {
    display: flex;
    flex-direction: column;
}
.b-wrapper {
    background-color: white;
    border-radius: 0.8rem;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#Books {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    height: 230px;
}

input {
    border: none;
    background-color: rgb(233, 232, 232);
    border-radius: 0.3rem;
    height: 40px;
    padding: 10px;
}

.quotes {
    display: flex;
    flex-direction: column;
}